flask
flask-cors
flask-limiter
flask-jwt-extended
pymongo
groq
python-dotenv
bcrypt
pytrends
pandas
semanticscholar
pyalex
scikit-learn
numpy
#python -m pip install -r Requirements.txt
#python.exe -m pip install --upgrade pip